/*
  Página de recuperar senha
*/

body {
  background-image: url("../../assets/imgs/p_recuperar_senha_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.link-voltar {
  color: white;
  align-self: flex-start;
}