<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="scr/estilos/style.css">
</head>
<body>
    <main>
        
        <div class="container-flex">
        <img src="scr/assets/imgs/bg_pedra_azul.jpg" class="bg_page" alt="Background">
           <h1>Aracê</h1>
           <div>
                <button class="container-btn">
                    Login
                </button>
                <button class="container-btn">
                    Cadastro
                </button>
           </div>
        </div>
    </main>
</body>
</html>