<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Aracê - Cultura Capixaba</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
    <nav class="navbar">
        <div class="menu-icon">
            <img src="icones\menu_ic.svg" alt="Menu">
        </div>

        <div class="nav-right">
            <div class="cart-info">
                <img src="icones\carrinho_ic.svg" alt="Carrinho"><br>
                <div class="linha-vertical"></div>
                <span>2 itens</span>
            </div>
            <div class="user-profile">
                <img src="icones\perfil_ic.svg" alt="Perfil">
            </div>
        </div>
    </nav>
</header>
<section class="hero-banner">
    <div class="hero-content">
        <h1>aracê</h1>
        <p>Um espaço da cultura capixaba.</p>
        <p class="hero-cta">
            Leve parte <span class="highlight">desse lugar.</span>
        </p>
    </div>
</section>

<div class="search-section">
    <form class="search-container" id="searchForm">
        <span class="search-icon">🔍</span>
        <input type="text" id="searchInput" placeholder="pesquise um produto...">
    </form>
</div>

<section class="categories-section">
    <h2 class="title-categories">categorias</h2>
    <div class="categories-grid">
        <a href="catalogo.html?cat=pinturas" class="cat-item">
            <div class="icon-box bg-green">
                <img src="icon-pintura.svg" alt="Pinturas">
            </div>
            <span>Pinturas</span>
        </a>
        <a href="catalogo.html?cat=roupas" class="cat-item">
            <div class="icon-box bg-orange">
                <img src="icon-roupas.svg" alt="Roupas">
            </div>
            <span>Roupas</span>
        </a>
        </div>
</section>

        <section id="produtos">
            
            <!--Aqui adicionaremos os produtos-->

        </section>



        <section id="produtores">

            <h2>Destaques Produtores</h2>
            <div class="producer-grid">

                <!--<div class="producer-circle"><span>Nome</span></div>
                <div class="producer-circle"><span>Nome</span></div>
                <div class="producer-circle"><span>Nome</span></div>
                <div class="producer-circle"><span>Nome</span></div>
                <div class="producer-circle"><span>Nome</span></div>
                <div class="producer-circle"><span>Nome</span></div>-->

                </div>
        </section>
        

        <section id="lojas">
            <h2>Sugestão de Lojas</h2>
            <div class="store-grid">
                <div class="store-card">Estabelecimento 1</div>
                <div class="store-card">Estabelecimento 2</div>
                <div class="store-card">Estabelecimento 3</div>
            </div>
        </section>



 <!--Mapa-->
        <section id="mapa">
    <h2>Mapa</h2>
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12595.065278982896!2d-40.22530279939506!3d-20.19506470833454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb81de52407d8d7%3A0x289693da8d05dd09!2sIFES%20-%20Campus%20Serra!5e0!3m2!1spt-BR!2sbr!4v1778005795475!5m2!1spt-BR!2sbr" 
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>


    </div>
</section>
    </main>

    <footer>
        <div class="footer-top">
            <div class="footer-brand">aracê</div>
            <div class="newsletter">
                <p>Receba novidades</p>
                <input type="email" placeholder="seuemail@gmail.com">
                <button>Enviar</button>
            </div>
        </div>

        <div class="footer-links">
            <div class="col">
                <h4>Páginas Legais</h4>
                <ul>
                    <li>Termos e condições</li>
                    <li>Privacidade</li>
                </ul>
            </div>
            <div class="col">
                <h4>Links Importantes</h4>
                <ul>
                    <li>Comece Agora</li>
                    <li>Adicione seu restaurante</li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>Aracê Copyright 2026. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>