<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="scr/estilos/style.css">
</head>
<body>
    <main>
        
        <div class="container-flex">
        <img src="scr/assets/imgs/bg_pedra_azul.jpg" class="bg_page" alt="Background">
        <form class="forms-blur">
           <h1>Login</h1>
           <div>
                <input type="email" class="input-style-perfil" placeholder="EMAIL">
                <input type="password" class="input-style-senha" placeholder="SENHA">
                <button>
                    Cadastro
                </button>
           </div>
        </form>
        </div>
    </main>
</body>
</html>