<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="src/estilos/style.css">
</head>
<body>
    <main>
        
        <div class="container">
        <img src="src/assets/imgs/bg_principal.jpg" class="bg_page-prime" alt="Background">

            <content>
                
                <h2 class="title">Seu Carrinho</h2>
                <section>
            <div>
                <div class="product-card-car">
                    <img src="src/assets/imgs/produtos/panela_convento.png" class="product-img-car" alt="Panela de barro personalizada com o desenho do Convento da Penha">
                <div class="product-details-car">
                    <div class="product-name-car">
                        <h3 class="product-title-car"> Panela de barro personalizada</h3>
                    </div>
                    <div class="product-rating-car">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>

                    <!-- Essa parte precisaria do BD, por enquanto fica só o texto mesmo-->
                    <div class="product-price-car">
                        <span class="currency">R$</span>
                        <span class="value">125</span>
                        <span class="decimals">00</span>
                    </div>
                </div>
                
            </div>
                </section>

                <section>
            <div class="product-card-car">
                    <img src="src/assets/imgs/produtos/panela_tres.png" class="product-img-car" alt="Kit com três panelas de barro de tamanhos variados">
                
                <div class="product-details-car">
                    <div class="product-name-car">
                        <h3 class="product-title-car"> Kit com três panelas de barro </h3>
                    </div>
                    <div class="product-rating-car">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>

                    <!-- Essa parte precisaria do BD, por enquanto fica só o texto mesmo-->
                    <div class="product-price-car">
                        <span class="currency">R$</span>
                        <span class="value">200</span>
                        <span class="decimals">50</span>
                    </div>
                </div>
                
            </div>
                </section>

                <section>
            <div class="product-card-car">
                    <img src="src/assets/imgs/produtos/bracelete_joia.png" class="product-img-car" alt="Bracelete trançado com uma jóia brilhante">
                <div class="product-details-car">
                    <div class="product-name-car">
                        <h3 class="product-title-car"> Bracelete trançado</h3>
                    </div>
                    <div class="product-rating-car">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>

                    <!-- Essa parte precisaria do BD, por enquanto fica só o texto mesmo-->
                    <div class="product-price-car">
                        <span class="currency">R$</span>
                        <span class="value">50</span>
                        <span class="decimals">00</span>
                    </div>
                </div>
                
            </div>
                </section>

                <section>
            <div class="product-card-car">
                    <img src="src/assets/imgs/produtos/bracelete_flor.png" class="product-img-car" alt="Braceletes de flor, um dourado e outro prata">
                <div class="product-details-car">
                    <div class="product-name-car">
                        <h3 class="product-title-car"> Braceletes de flor </h3>
                    </div>
                    <div class="product-rating-car">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>

                    <!-- Essa parte precisaria do BD, por enquanto fica só o texto mesmo-->
                    <div class="product-price">
                        <span class="currency">R$</span>
                        <span class="value">75</span>
                        <span class="decimals">00</span>
                    </div>
                </div>

               
            </div>
                </section>

                <section>
                    <div class="product-card-car">
                            <img src="src/assets/imgs/produtos/bolsa_beijaflor.png" class="product-img-car" alt="Bolsa azul com o bordado de um beija-flor">
                        
                        <div class="product-details-car">
                            <div class="product-name-car">
                                <h3 class="product-title-car"> Bolsa de Beija-Flor</h3>
                            </div>
                            <div class="product-rating-car">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>

                            <!-- Essa parte precisaria do BD, por enquanto fica só o texto mesmo-->
                            <div class="product-price-car">
                                <span class="currency">R$</span>
                                <span class="value">30</span>
                                <span class="decimals">00</span>
                            </div>
                        </div>
                        
                    </div>
                </section>

                <section>
                    <div class="product-card-car">
                            <img src="src/assets/imgs/produtos/bolsa_convento.png" class="product-img-car" alt="Bolsa estampada com o desenho do Convento da Penha">
                        
                        <div class="product-details-car">
                            <div class="product-name-car">
                                <h3 class="product-title-car"> Bolsa Convento da Penha</h3>
                            </div>
                            <div class="product-rating-car">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>

                            <!-- Essa parte precisaria do BD, por enquanto fica só o texto mesmo-->
                            <div class="product-price-car">
                                <span class="currency">R$</span>
                                <span class="value">35</span>
                                <span class="decimals">00</span>
                            </div>
                        </div>
                    </div>
                </section>

            </content>
        </div>
    </main>
</body>
</html>