:root {
    /* Paleta de Cores Aracê */
    --cor-laranja: #d2691e;
    --cor-laranja-hover: #b55a18;
    --cor-verde: #9dbb61;
    --cor-azul-texto: #416396;
    --cor-amarelo-destaque: #f2c069;
    --cor-fundo-input: rgb(255, 253, 251);
    --cor-borda-cinza: #ccc;
}

body {
    background-image:linear-gradient(rgba(255, 255, 255, 0.88)), url('scr/assets/imgs/fundo.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
}
header {
    
    padding: 20px 40px; 
    background-color: transparent; 
}

.navbar {
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}


.cart-info {
    display: flex;
    align-items: center;
    gap: 30px; 

    padding-right: 20px;
    color: var(--cor-azul-texto);
    font-weight: bold;
}


img {
    width: 36px;
    height: auto;
    display: block;
}

.linha-vertical {
    border-left: 1px solid #ccc; 
    height:40px;               
    margin: 0 10px;               
  }

  .hero-banner {
    
    background-image: url('scr/assets/imgs/img_landingpage.png'); 
    background-size: cover;
    background-position: center;
    height: 375px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    background-color: white;
    margin-top: 115px ;
    padding: 65px 85px;
    text-align: center;
    max-width: 90%;
}

.hero-content h1 {
    font-family: serif; 
    font-size: 3rem;
    margin: 0;
    font-weight: 400;
}

.hero-content p {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.highlight {
    background-color: var(--cor-amarelo-destaque);
    padding: 2px 8px;
    font-weight: bold;
}

/* Barra de Pesquisa */
.search-container {
    display: flex;
    align-items: center;
    border: 2px solid var(--cor-laranja); /* Laranja da Aracê */
    border-radius: 30px;
    padding: 10px 20px;
    max-width: 800px;
    margin: 40px auto;
    background-color: var(--cor-fundo-input);
}

.search-container input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    margin-left: 10px;
}

/* Grid de Categorias */
.categories-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom:80px ;
}

.cat-item {
    text-decoration: none;
    color: #333;
    text-align: center;
    font-size: 0.8rem;
}

.icon-box {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    
}

.title-categories{
    font-family: serif; 
    font-size: 2rem;
    margin: 0 15px 50px;
    font-weight: 400;
    border-bottom: solid var(--cor-laranja) 5px;
    width:200px;

}
.title-products{
    font-family: serif; 
    font-size: 2rem;
    margin: 0 15px 50px;
    font-weight: 400;
    border-bottom: solid var(--cor-laranja) 5px;
    width:300px;

}

.bg-green { background-color: var(--cor-verde); }
.bg-orange { background-color: var(--cor-laranja); }

/* Container que envolve todos os cards */
#produtos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px; 
    padding: 40px 20px;
}

/* Título da seção */
.title-products {
    width: 100%; 
    text-align: left;
    font-family: 'Playfair Display', serif; 
    color: #333;
    margin-bottom: 20px;
    border-bottom: 5px solid var(--cor-laranja); 
    display: inline-block;
}

/* O Card individual */
.product-card {
    background-color: transparent; 
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    transition: transform 0.3s ease;
    margin:0 80px;
}

.product-card:hover {
    transform: translateY(-5px); 
}

/* Imagem do Produto */
.product-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #fff; 
    border-radius: 4px;
    margin-bottom: 15px;
}

/* Nome do Produto */
.product-title {
    font-size: 1.1rem;
    color: #222;
    margin: 5px 0;
    font-weight: 500;
}


.product-rating {
    color:var(--cor-laranja); 
    font-size: 0.9rem;
    margin-bottom: 10px;
}

/* Preço */
.product-price {
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.currency { font-size: 0.8rem; margin-right: 2px; }
.value { font-size: 1.3rem; }
.decimals { font-size: 0.8rem; vertical-align: super; }


.add-cart {
    background-color:var(--cor-laranja); 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px; 
    cursor: pointer;
    font-weight: bold;
    width: 100%; 
    transition: background 0.3s;
}

.add-cart:hover {
    background-color:var(--cor-laranja-hover) }